.container {
  width: 100vw;
  height: var(--footerHeight);
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--pagePadding);
  align-items: center;
  z-index: 99;
}
.divider {
  width: 100%;
  height: 1px;
  position: absolute;
  padding: 0 var(--pagePadding);
  top: 0;
  left: 0;
}
.divider div {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.438);
}
.signin h5 {
  font-family: var(--fontOne);
  font-size: 1.3rem;
  letter-spacing: 0.07rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.493);
  text-decoration: underline;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.copyright h5 {
  font-family: var(--fontOne);
  font-size: 1.3rem;
  letter-spacing: 0.07rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.527);
}

/*effect*/
.signin h5:hover {
  color: rgb(255, 255, 255);
}
