.container {
  width: 100vw;
  height: var(--navheight);
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 var(--pagePadding);
  z-index: 99;
}
.body {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2 {
  font-family: var(--fontOne);
  font-weight: 400;
  font-size: 2.7rem;
  letter-spacing: 0.16rem;
  cursor: pointer;
  color: white;
}
.hambuger {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hambugerIcon {
  width: 100%;
  height: 10%;
  background-color: white;
  position: relative;
  transition: all 300ms ease-in-out;
}
.hambugerIcon::before {
  content: "";
  position: absolute;
  width: inherit;
  height: 100%;
  background-color: white;
  transform: translateY(-300%);
}
.hambugerIcon::after {
  content: "";
  position: absolute;
  width: inherit;
  height: 100%;
  background-color: white;
  transform: translateY(300%);
}

/*effect*/
